.SettingProfilePage {
    display: flex;
    width: 1440px;
    flex-direction: column;
}

.Header {
    display: flex;
    height: 277px;
    padding: 64px 289px 63px 289px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.settingProfileTitle {
    color: #000;
    text-align: center;
    font-family: "Black Han Sans", serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;
}

.Body {
    width: 1440px;
    font-family: "Gamja Flower", sans-serif;
    display: flex;
    padding: 36px 0 45px 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}

.InfoComp {
    display: flex;
    width: 684px;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
    background: #D0E8C5;
    border-radius: 20px;
    opacity: 0.5;
    box-shadow: 4px 4px 12px #659287;
    padding: 24px;
}

.infoCompTitle {
    color: #000;
    text-align: center;
    font-family: "Gamja Flower";
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 14.4px;
    margin: 0;
}

.infoCompInput {
    width: 684px;
    height: 114px;
    border-radius: 30px;
    border: 5px solid #CCD3CA;
    background: #EED3D9;
    box-sizing: border-box;
    font-size: 36px;
}

.btn-main {
    border-radius: 15px;
    box-sizing: border-box;
    height: 100px;
    border: 5px solid rgba(71, 102, 59, 10%);
}


.btn-main:active {
    transform: translateY(-10%);
    box-shadow: 0 10px 50px #a7b3a4;
}