@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

.App {
    display: flex;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}